/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background-color:rgb(175, 13, 13);
}

ul{
  list-style: none;
}
#menu{
  height: 100vh;
  display: flex;
  align-items: center;
}

.nav-item {
  color: white;
  font-size: clamp(3rem, 8vw, 8rem);
  font-family: 'Times New Roman', Times, serif;

  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
}

.nav-items {
  margin-right: clamp(4rem, 20vw, 48rem);
  position: relative;
  z-index: 2;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

.nav-items:hover > .nav-item {
  opacity: 0.3;
}

.nav-items:hover > .nav-item:hover {
  opacity: 1;
}


#back-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%,
        transparent 9%);
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 1;
}


.nav-items:hover ~ #back-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5 ;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#menu[data-active-index='1'] > #back-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="2"] > #back-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index='3'] > #back-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="4"] > #back-pattern {
  background-position: 0% -100%;
}